name: Lint
on: [pull_request]
jobs:
  rubocop:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'  # Add this line (or '3.2', '3.3')
      - run: bundle install
      - run: bundle exec rubocop
